.elem:hover {
    transform: scale(1.1);
}

.elem {
    position: absolute;
width: 400px;
height: 200px;
left: 10px;
right:200px;
top: 15px;
    display: flex;
    transition: 500ms linear;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/War_flag_of_the_Imperial_Japanese_Army_%281868%E2%80%931945%29.svg/220px-War_flag_of_the_Imperial_Japanese_Army_%281868%E2%80%931945%29.svg.png);
border: 0px solid #000000;
border-radius: 71px;
}

.container{
    position: fixed;
    width: 2000px;
    height:100px;
    background-color:wheat;
}

@font-face {
    font-family:"japa";
    src: url(go3v2.ttf);
}

h1 {
    font-family: "japa";
    font-size:  30px;



}

.escrita{
    position: absolute;
    left: 1200px;
    top: 15px;
}

.escrita2{
    font-family:"japa";
    font-size:  30px;;
    position:absolute;
    left: 1000px;
    top: 15px;
}

.escrita3{
    font-family:"japa";
    font-size:  30px;;
    position:absolute;
    left: 750px;
    top: 15px;
}
.titulo{
    font-family:"japa";
    font-size:  40px;;
    position:absolute;
    left: 100px;
    top: -10px;

}

